/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

/*.gameBoard {
  background-color :black;
  width: 900px;
  height: 400px;
}*/
svg {
  border: 3px solid white;
  border-radius: 20px;
}

body{
  background-color: black;
}

.gameBoard {
  position: relative;
  margin: 0 auto;
  text-align: center;
  font-family: 'Maven Pro', sans-serif;
  color: white;
}

.scoreboard {
  position: absolute;
  background-color: black;
  border: 3px solid white;
  border-radius: 10px;
  text-align: center;
  width: 125px;
  float: right;
  font-family: 'Maven Pro', sans-serif;
  color: white;
  padding: 10px;
}
